.alert-success {
    background-color: green
}

.alert-warning {
    background-color: yellow;
}

.alert-danger {
    background-color: red;
}

.alert-info {
    background-color: blue;
}
nav li{display: inline; background-color: rgb(45, 45, 45);}
nav li a{color: orange}
input{border-radius: 15%;}
body{
    background-color: black;
    color: orange;

}