.alert-success {
    background-color: green
}

.alert-warning {
    background-color: rgb(150, 150, 22);
}

.alert-danger {
    background-color: rgb(145, 14, 14);
}

.alert-info {
    background-color: darkblue;
}
nav li{display: inline; background-color: rgb(117, 117, 117);}
nav li a{color: orange;
    font-family: Impact;
    font-size: large;
}
nav li a:hover{color: orange;
    font-family: Impact;
    font-size: large;
    color: purple;

}
input{border-radius: 15%;}
body{
    background-color: black;
    color: orange;

}

.table{
    border: 4px solid;
    border-collapse: separate;
  border-spacing: 100px 5px;
  text-align: center;
}

.gamelink{
    font-size: 75px;
    font-family: Impact;
}

#game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
canvas{
    box-shadow: orange 10px 10px 20px;
}
#restart{
    position: absolute;
    bottom: 10px;

}